#navb{
        background-color: rgb(83, 213, 246);
        overflow: hidden;
}
/* 
#vacancy{
        
} */
/* #loginimg {
        background-image: url('https://cdn.pixabay.com/photo/2016/01/19/01/42/library-1147815_960_720.jpg');
        font-family: "Muli", sans-serif;
      }
      h1 {
        color: rgb(255, 255, 255);
        padding-bottom: 2rem;
        font-weight: bold;
      }
      .text-center{
        color: rgb(246, 0, 0);
      }
      a {
        color: #333;
      }
      a:hover {
        color: #e8d426;
        text-decoration: none;
      }
      .form-control:focus {
        color: #000;
        background-color: rgb(21, 21, 21);
        border: 2px solid #121212;
        outline: 0;
        box-shadow: none;
      }
    
      button {
        background: #e8d426;
        border: #e8d426;
        padding: 13px 180px;
        border-radius: 50px;
      }
      button:hover {
        background: #4ed0d0;
        border: #59d5e5;
      } */